.headerComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Background color set to black */
  padding: 5px; /* Reduced vertical padding */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 100%;
}

.headerComponentInner {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  width: 100%;
  padding: 20px; /* Adjust padding as needed */
  gap: 20px; /* Add space between title image and Navbar */
}

.titleImage {
  height: 40px; /* Adjust height as needed */
  /* Add any additional styles for the title image */
}
