.navBarDefault {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 9px 10px 19.1px rgba(0, 0, 0, 0.4);
  height: 35px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%; /* Full width for better layout management */
}

.frame {
  display: flex;
  width: 100%; /* Ensure the frame takes full width of the navbar */
  justify-content: space-evenly; /* Evenly distribute space among items */
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Abhaya Libre';
  padding: 15px 10px; /* Sufficient padding for clickable area */
  color: #333;
  transition: color 0.3s, text-decoration-color 0.3s;
  position: relative; /* Position relative for absolute positioning of dropdown */
  /* Remove default focus outline */
  &:focus {
    outline: none;
  }

  /* Hover state adds an underline */
  &:hover {
   color: red /* Underline color */
  }

  /* Active state simulates the button being pressed */
  &:active {
    transform: scale(0.95); /* Scales down the button to give a "pressed" effect */
  }
}
/* Existing CSS */


/* Add new CSS for dropdown */
/* Updated CSS for dropdown with minimal and modern design */

.dropdownContent {
  display: none; /* Hide dropdown content by default */
  position: fixed; /* Position dropdown content fixed to the viewport */
  top: 99px; /* Keep the top position as provided */
  left: 130px; /* Keep the left position as provided */
  transform: translateX(-50%); /* Center dropdown content horizontally */
  background-color: #ffffff; /* Background color of dropdown */
  min-width: 120px; /* Increase minimum width for better readability */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Update box shadow for subtle effect */
  border-radius: 8px; /* Add border radius for a softer look */
  z-index: 999; /* Ensure dropdown appears above other content */

}

.dropdownContent button {
  display: block; /* Display dropdown buttons as block elements */
  width: 100%; /* Set width to 100% */
  padding: 12px 16px; /* Add padding to dropdown buttons */
  text-align: left; /* Align text to the left */
  color: #333; /* Text color */
  border: none; /* Remove borders */
  background-color: transparent; /* Transparent background */
  transition: background-color 0.3s; /* Add transition effect */
  font-family: 'Abhaya Libre';
  font-size: 14px; /* Adjust font size for better readability */
}

.dropdownContent button:hover {
  background-color: #f3f3f3; /* Change background color on hover */
  color: red; /* Change text color to red on hover */
}


/* Show dropdown content when hover over the dropdown button */
.dropdown:hover .dropdownContent {
  display: block; /* Show dropdown content on hover */
}
