.navBarDefault {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 9px 10px 19.1px rgba(0, 0, 0, 0.4);
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between; /* Spread items evenly */
  align-items: center;
  width: 70%;
  margin-left: auto; /* Move the navbar to the right */
  padding: 0 20px; /* Add some padding to the sides */
}

.frame {
  display: flex;
  align-items: center; /* Center items vertically */
  width: 100%;
  gap: 30px; /* Add space between items */
  justify-content: space-evenly; /* Spread items evenly within the frame */
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Abhaya Libre';
  padding: 15px 10px; /* Sufficient padding for clickable area */
  color: #333;
  transition: color 0.3s, text-decoration-color 0.3s;
  position: relative; /* Position relative for absolute positioning of dropdown */
}

/* Remove default focus outline */
.navButton:focus {
  outline: none;
}

/* Hover state adds an underline */
.navButton:hover {
  color: red; /* Underline color */
}

/* Active state simulates the button being pressed */
.navButton:active {
  transform: scale(0.95); /* Scales down the button to give a "pressed" effect */
}
