.html, .body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.Content {
  flex: 1; /* This allows the content to expand and fill remaining space */
}