*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  align-items: right;
}

.Container{
  display: flex;
  background-color: black;
  border-radius:0px;
  padding-left:10px;
}

.body{
  justify-content: center;
  padding: 0px 2px 0px 5px;
  display: inline-flex;
  align-items:center;
  justify-content:center;
  justify-items:center;
  align-content:center;

  overflow-x:none;
  display:flex;
  justify-content:space-around;

}

.formContainer{
  position: relative;
  width: 6000vw;
  height: 95vh;
  margin:5px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0,0,0,.2);
  display:flex;
  flex-direction:column;
  gap: 3px;

  overflow-y:scroll;  
  border: 1px solid #d14900;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #d14900;
}

.row{
  align-self:cen;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  column-gap:7px;
}

.col{
  display:flex;
  flex-direction:column;
  justify-content:flex;
  gap: 1px;
  width:100%
}
colnew {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1px;
  width: 100%
}
label{
  font-size:18px;
  padding:15px 0px 2px 10px;
  padding-top: 00px;
  padding-left: 5px;
}
input{
  height: 40px;
  font-size: 15px;
  border: 1px solid #000;
  border-radius:10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding:10px;
  margin-bottom:20px;
}
.formHeader h1{
  margin:0;
  align-items: left;
  padding:1.6%;
  top:50px;
  bottom :30px;
}

.button1, .button{
  background-color:black;
  color:white;
  padding:5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center;
}

.button1{
  background-color:darkred;
}

.button1, .button:hover{
  background-color: #b71a09;
  cursor:pointer;
}

.club{
display:flex;
  gap: 20px;
}
.placeholder {
  font-size: 12px;
  /* Decrease the font size */
  margin-bottom: 5px;
  /* Add some bottom margin to create space */
  display: block;
  /* Ensure the label is displayed as a block element */
}

.placeholder {
  font-size: 12px;
  /* Decrease the font size */
  margin-bottom: 1px;
  /* Add some bottom margin to create space */
  display: block;
  /* Ensure the label is displayed as a block element */
}

.col {
  /* Add styles to position the label and input field vertically */
  display: flex;
  flex-direction: column;
}
.new {
    /* Add styles to position the label and input field vertically */
    display: flex;
    flex-direction: column;
  }
