.navBarDefault {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 9px 10px 19.1px rgba(0, 0, 0, 0.4);
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-left: auto;
  padding: 0 20px;
}

.frame {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
  justify-content: space-evenly;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Abhaya Libre';
  padding: 15px 10px;
  color: #333;
  transition: color 0.3s, text-decoration-color 0.3s;
  position: relative;
}

.navButton:focus {
  outline: none;
}

.navButton:hover {
  color: red;
}

.navButton:active {
  transform: scale(0.95);
}

.navLink {
  text-decoration: none; /* Remove the underline */
}

.navLink:hover,
.navLink.active {
  text-decoration: none; /* Ensure underline is not added on hover or when active */
}

.active {
  color: red; /* Set the active state color */
}

/* Dropdown content styling */
.profileMenu {
  position: relative;
}

.dropdownContent {
  display: none; /* Hide dropdown content by default */
  position: fixed; /* Position dropdown content absolute to the profile button */
  top: 11%; /* Position below the profile button with a 10px gap */
  right: 10; /* Align to the left of the profile button */
  background-color: #ffffff; /* Background color of dropdown */
  min-width: 160px; /* Increase minimum width for better readability */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Update box shadow for subtle effect */
  border-radius: 8px; /* Add border radius for a softer look */
  z-index: 2000; /* Ensure dropdown appears above other content */
}

.dropdownContent button,
.dropdownContent a {
  display: block; /* Display dropdown buttons as block elements */
  width: 100%; /* Set width to 100% */
  padding: 12px 16px; /* Add padding to dropdown buttons */
  text-align: left; /* Align text to the left */
  color: #333; /* Text color */
  border: none; /* Remove borders */
  background-color: transparent; /* Transparent background */
  transition: background-color 0.3s; /* Add transition effect */
  font-family: 'Abhaya Libre';
  font-size: 17px; /* Adjust font size for better readability */
  font-weight: bold;
}

.dropdownContent button:hover,
.dropdownContent a:hover {
  background-color: #f3f3f3; /* Change background color on hover */
  color: red; /* Change text color to red on hover */
}

/* Show dropdown content when showDropdown is true */
.profileMenu:hover .dropdownContent {
  display: block; /* Show dropdown content on hover */
}
